<div class="section-1">
    <div class="row ">
      <div class="col-md-12">
        <img src="../assets/plage-ngor.jpg" alt="">
        <div class="textSec1">
            <h1>Dakar c'est de magnifiques choses a decouvrir </h1>
            <h3>Partout , tout le temps</h3>
            <form action="">
                <input type="text" name="" placeholder="text" id="">
                <input type="date" name="" placeholder="date" id="">
                <button>Search</button>
            </form>
        </div>
      </div>
    </div>
  </div>