
<!-- for Gore plage  -->
<div class="section-2">
    <div class="row container">
        <div class="col-md-12">
            <img src="../../assets/dakargoree.jpg" alt="image de l'ile de goree ">
            <div class="description">
                <h1>Ile de Goree </h1>
                <h2>127 $</h2>
                <h3>3 hours</h3>
            </div>
        </div>
    </div>
</div>
<!-- end for Gore plage --> 



<!-- start for lac Rose -->
<div class="section-3">
    <div class="row ">
        <div class="col-md-4">
            <img src="../../assets/curioso-photography-lnbR0E65Yn4-unsplash.jpg" alt="Lac Rose"/>
            <div class="description">
                <h1>Lac Rose</h1>
                <h2>147 $</h2>
                <h3>3 hours</h3>
            </div>
        </div>
        <div class="col-md-8">
            <img src="../../assets/giraffe.jpeg" alt="Animal"/>
            <div class="description">
                <h1>Parc </h1>
                <h2>27 $</h2>
                <h3>2 hours</h3>
            </div>
        </div>
    </div>
</div>
<!-- end for Lac Rose -->

<div class="section-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="../../assets/sin2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/sin1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/sineSaloum.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/sin4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      <div class="text">
          <h1>ILES DE SINE SALOUM</h1>
          <h3>200 $</h3>
      </div>
</div>