

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');


.section-2 .row .col-md-12 img{
    width:80rem;
    margin-left: 12px;
}

.section-2 .row .col-md-12 .description{
    position: relative;
    top:-10rem;
    align-items:center;
    display:flex;
    background:rgba(255, 255, 255,0.4);
    flex-wrap: wrap;
    margin:0px 234px 0px;
}
.section-2 .row .col-md-12 .description h1,h2,h3{
    margin: 0px 16px 0px;
    color:black;
    font-family: 'Baloo Da 2', cursive;
}