

<div class="section-12">
    <div class="__row">
        <h3> {{date}} ,{{country}} </h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/> Nesciunt tempora aspernatur alias, 
        facere voluptate impedit.
        <h6>{{author}}</h6>
    </div>
    <img src="../../assets/sineSaloum.jpg" alt="">
</div>



<div class="section-12">
    <div class="__row">
        <h3> {{date}} ,{{country}} </h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/> Nesciunt tempora aspernatur alias, 
        facere voluptate impedit.
        <h6>{{author}}</h6>
    </div>
    <img src="../../assets/sineSaloum.jpg" alt="">
</div>



<div class="section-12">
    <div class="__row">
        <h3> {{date}} ,{{country}} </h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/> Nesciunt tempora aspernatur alias, 
        facere voluptate impedit.
        <h6>{{author}}</h6>
    </div>
    <img src="../../assets/sineSaloum.jpg" alt="">
</div>