@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


/* navbar */
#body{
    width:100%;
    height: 100%;
    background:#3ABEE6;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}


#body #corps{
    height: auto;
   
    /* overflow: hidden; */
}

#body #corps .navbar{
    background-color: white;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}

.navbar .collapse .btn{
    color:white;
    background:#3ABEE6;
    border:1px solid #3ABEE6;
}

/* for the unique image on the page */

#body #corps .section-1{
    overflow: hidden;
}

#body #corps .section-1 .row {
    overflow-y: hidden;
    overflow-x: hidden;
}

#body #corps .section-1 .row .col-md-12 img{
    width:100rem;
    height:40rem;
}

#body #corps .section-1 .row .col-md-12 .partText{
    text-align: center;
    position: relative;
    top:-30rem;
    
}


#body #corps .section-1 .row .col-md-12 .partText input{
    width:420px;
    border:1px solid white;
    height:3.5rem;
}


#body #corps .section-1 .row .col-md-12 .partText input[type="text"]{
    border-top-left-radius: 7px;
    border-bottom-left-radius:7px;
    
}



#body #corps .section-1 .row .col-md-12 .partText button{
    height:3.5rem;
    width:220px;
    border:1px solid #EF9159;
    background:#EF9159;
    color:white;
}


#body #corps .section-1 .row .col-md-12 .partText h1{
    color:white;
    font-family: 'Bangers', cursive;
    font-size:50px;
}

/* sitesToVisit */

#body #corps .section-1 .row .col-md-12 .partText .sitesToVisit{
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    background:white;
    border-radius:10px;
    margin-top: 150px;
}

#body #corps .section-1 .row .col-md-12 .partText .sitesToVisit .-col-sites{
    flex-basis: 22%;
    font-family: 'Bangers', cursive;
}